services:
  frontend:
    build:
      context: .
      dockerfile: misc/docker/app.dockerfile
    container_name: redativo-reviewer
    image: redativo-reviewer:dev
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
      - NODE_ENV=development
