{% load static %}

{% block head %}
  <link rel="stylesheet/less" type="text/css" href="{% static 'style/components/status.less' %}">
{% endblock head %}

<section class="status">
  {% if can_continue_essay %}
    <section class="current-status-content">
      <a href="{% url 'writer:essay_edit' user_id=request.user.id theme_id=essay.theme.id essay_id=essay.id %}">
        Continuar minha redação
      </a>
    </section>
  {% else %}
    {% if essay.submitted %}
    <section class="current-status-content">
      <p>Redação enviado em {{ essay.submitted_at }}</p>
    </section>
    {% endif %}
      {% if essay.reviewed %}
        <section class="current-status-content">
          <section class="general-score">
            <p class="score">NOTA GERAL: <strong>{{ review.score }}</strong></p>
            <div class="progress-bar-score">
              <div class="progress"></div>
            </div>
          </section>
          <ul class="list-skill-tabs">
            <li><a class="skill-tab current-skill-tab" href="#skill-1">
              {% include "skills/skill_1_short_title.txt" %}
            </a></li>
            <li><a class="skill-tab" href="#skill-2">
              {% include "skills/skill_2_short_title.txt" %}
            </a></li>
            <li><a class="skill-tab" href="#skill-3">
              {% include "skills/skill_3_short_title.txt" %}
            </a></li>
            <li><a class="skill-tab" href="#skill-4">
              {% include "skills/skill_4_short_title.txt" %}
            </a></li>
            <li><a class="skill-tab" href="#skill-5">
              {% include "skills/skill_5_short_title.txt" %}
            </a></li>
          </ul>
          <ul class="revision-skill-list">
            <li class="skill-1 revision-skill current-revision-skill">
              <h3 class="skill-title">{% include "skills/skill_1_title.txt" %}</h3>
              <p class="skill-score">nota: {{ review.skill_1_score }}</p>
              <p class="skill-text">{{ review.skill_1_text }}</p>
            </li>
            <li class="skill-2 revision-skill">
              <h3 class="skill-title">{% include "skills/skill_2_title.txt" %}</h3>
              <p class="skill-score">nota: {{ review.skill_2_score }}</p>
              <p class="skill-text">{{ review.skill_2_text }}</p>
            </li>
            <li class="skill-3 revision-skill">
              <h3 class="skill-title">{% include "skills/skill_3_title.txt" %}</h3>
              <p class="skill-score">nota: {{ review.skill_3_score }}</p>
              <p class="skill-text">{{ review.skill_3_text }}</p>
            </li>
            <li class="skill-4 revision-skill">
              <h3 class="skill-title">{% include "skills/skill_4_title.txt" %}</h3>
              <p class="skill-score">nota: {{ review.skill_4_score }}</p>
              <p class="skill-text">{{ review.skill_4_text }}</p>
            </li>
            <li class="skill-5 revision-skill">
              <h3 class="skill-title">{% include "skills/skill_5_title.txt" %}</h3>
              <p class="skill-score">nota: {{ review.skill_5_score }}</p>
              <p class="skill-text">{{ review.skill_5_text }}</p>
            </li>
          </ul>
        </section>
      {% endif %}
    {% if essay.expired %}
    <section class="current-status-content">
      <p>Prazo para envio encerrado.</p>
    </section>
    {% endif %}
  {% endif %}
</section>
