<script>
  // dynamic score
  (function () {
    // get the score value
    const score = document.querySelector('p.score strong').textContent;
    // get progress bar element
    const progress = document.querySelector('div.progress');
    // calculate the score percentage
    const scorePercentage = 100 * (score / 1000);

    // translate the score percentage to progress in progress bar
    progress.style.width = `${scorePercentage}%`;
  })();
</script>

<script>
  // handle current element to be highlighted or opened
  const handleCurrent = (list, id, current) => {
    // scan list
    [...list].map(element => {
      // removes the class that shows the current element from the list
      element.classList.remove(current);
    });

    // adds class that indicates the current element to open or highlight
    [...list][id].classList.add(current);
  };
</script>

<script>
  // handle tabs
  (function () {
    // make a list of skills titles
    const listSkillTabs = document.querySelectorAll('.skill-tab');
    // make a list of skills description
    const revisionSkillList = document.querySelectorAll('.revision-skill');

    // iterate over a list of skills
    for (let [index, skill] of [...listSkillTabs].entries()) {
      // wait click on the target
      skill.addEventListener('click', function (e) {
        if (e.target.classList.contains('current-skill-tab')) {
          // Ignores if this is the current element
          return;
        } else {
          // highlights the clicked tab
          handleCurrent(listSkillTabs, index, 'current-skill-tab');
          // open the skill description
          handleCurrent(revisionSkillList, index, 'current-revision-skill');
        }
      });
    }
  })();
</script>
