@import '../global.less';

main{
  margin: 0 !important;
}
header {
  display: flex;
  align-items: center;
  height: @header-height;
  padding: 0 58px;
  position: relative;

  &>.logo-blue {
    display: flex;
    align-items: center;

    img {
      width: @logo-normal-size;
    }
  }
}

section.essay-detail {
  width: 1000px;
  margin: 0 auto;
  position: relative;

  &> section.header-essay-detail {
    display: flex;
    justify-content: space-between;

    &> a.return-to-essay-list button.button-return,
    &> a.go-to-themes-active button.themes-active {
      background-color: @primary-color;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      font-size: 0;
      height: 48px;
      width: 48px;
    }

    .button-return{
      background-image: url('../../img/icons/nav/arrow-left.svg');
    }

    .themes-active {
      background-image: url('../../img/icons/nav/home.svg');
    }

    &> section.theme-essay {
      .theme-text {
        color: @primary-color;
        font-weight: @medium-weight;
        margin-bottom: 8px;
      }

      .theme {
        color: rgba(@black, 75%);
        font-weight: @semibold-weight;
      }
    }
  }
}
