@import '../global.less';

main{
  margin: 0 !important;
}

header {
  display: flex;
  align-items: center;
  height: @header-height;
  padding: 0 58px;
  position: relative;

  &>.logo-blue {
    display: flex;
    align-items: center;

    img {
      width: @logo-normal-size;
    }
  }
}

section.essay-edit {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
