@import '../global.less';

main{
  margin: 0 !important;
}
header {
  display: flex;
  align-items: center;
  height: @header-height;
  padding: 0 58px;
  position: relative;

  &>.logo-blue {
    display: flex;
    align-items: center;

    img {
      width: @logo-normal-size;
    }
  }
}

section.essay-detail {
  width: 1000px;
  margin: 0 auto;
  position: relative;

  &> section.header-essay-detail {
    display: flex;
    justify-content: space-between;

    &> a.return-to-essay-list button.button-return,
    &> a.go-to-themes-active button.themes-active {
      background-color: @primary-color;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      font-size: 0;
      height: 48px;
      width: 48px;
    }

    .button-return{
      background-image: url('../../img/icons/nav/arrow-left.svg');
    }

    .themes-active {
      background-image: url('../../img/icons/nav/home.svg');
    }

    &> section.theme-essay {
      .theme-text {
        color: @primary-color;
        font-weight: @medium-weight;
        margin-bottom: 8px;
      }

      .theme {
        color: rgba(@black, 75%);
        font-weight: @semibold-weight;
      }
    }
  }

  &> section.handle-status{
    // background-color: aqua;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 72px;
    width: 840px;

    &> a, &> p {
      // background-color: rgba(@primary-color, 20%);
      border-bottom: 1px solid rgba(@primary-color, 80%);
      // border-radius: 4px;
      color: rgba(@primary-color, 80%);
      font-size: @label;
      font-weight: @bold-weight;
      // padding: 8px;
      display: inline-block;
      justify-self: flex-end;
    }
  }

  &> section.paper-sheet{
    background-color: @white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 56px 80px;

    .title {
      color: rgba(@black, 75%);
      font-size: @text-medium;
      font-weight: @bold-weight;
      text-align: center;
      margin-bottom: 40px;
      width: 840px;
    }

    .text {
      color: rgba(@black, 90%);
      height: 90%;
      resize: none;
      overflow: unset;
      width: 840px;
    }

    textarea, input {
      width: 100%;
      border: none;
      outline: none
    }
  }
}
