@import '../global.less';

.principal-header {
  background-color: @secondary-color;
  color: @light;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 0.5fr;
  align-items: center;
  padding:  0 52px;
  height: 52px;

  .logo {
    width: 125px;
  }
}
