@import '../global.less';

.principal-header {
  background-color: @secondary-color;
  color: @light;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 0.5fr;
  align-items: center;
  padding:  0 52px;
  height: 52px;

  .logo {
    width: 125px;
  }

  .search {
    text-align: center;
    position: relative;

    > button {
      padding: 0;
      z-index: 999;
      
      > .icon {
        width: 20px;
        position: absolute;
        top: 6px;
        left: 12%;
      }
    }

    > input {
      background-color: @primary-color;
      border: none;
      border-radius: 8px;
      padding: 8px;
      padding-left: 32px;
      width: 80%;
      margin: 0 auto;
    }
    
    > input::placeholder {
      color: @light;
    }
  }
}
