@import '../global.less';

.principal-header {
  background-color: @background-header;
  position: fixed;
  color: @light;
  display: grid;
  grid-template-columns: @sidebar-width 1fr;
  align-items: center;
  height: @header-height;
  width: 100vw;
  z-index: 2;

  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: @sidebar-width;
    background-color: @background-logo;

    img {
      margin-left: @size-56px;
      width: @logo-normal-size;
    }
  }
}
