@import '../variables.less';

div.logo {
  align-items: top;
  height: 50px;

  &> a img {
    width: var(--logo-normal-size);
  }
}

@media (max-width: 768px) {
  div.logo {
    &> a img {
      width: var(--logo-small-size);
    }
  }
}
@media (max-width: 480px) {
  div.logo {
    &> a img {
      width: var(--logo-small-size);
    }
  }
}
