@import '../variables.less';

div.logo {
  align-items: top;
  height: 50px;

  &> a img {
    width: var(--logo-normal-size);
    padding: 6px;
    z-index: 1;
  }
}

@media (max-width: var(--breakpoint-tablet)) {
  div.logo {
    &> a img {
      width: var(--logo-small-size);
    }
  }
}
@media (max-width: var(--breakpoint-mobile)) {
  div.logo {
    &> a img {
      width: var(--logo-extra-small-size);
    }
  }
}
