@import '../global.less';

nav#sidebar {
  background-color: var(--background-sidebar);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  z-index: 1;
  padding-top: var(--header-height);

  &>ul.menu {
    display: flex;
    flex-direction: column;

    //Avatar image
    &>li.user {
      display: flex;
      align-items: center;
      transition: width 0.25s;
      flex-direction: column;
      margin-top: var(--size-32px);
      width: var(--sidebar-width-collapsed);
      height: 184px;

      &>div.user-avatar {
        position: relative;
        border: 1px solid rgba(var(--black, 20%));
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        transition: all 0.25s;
        height: var(--size-56px);
        width: var(--size-56px);
        overflow: hidden;
        text-align: center;
        clear: both;
        background-size: cover;

        &>img {
          max-width: 100%;
          vertical-align: middle;
          object-fit: contain;
        }
      }

      &>span.username {
        font-weight: bold;
        margin-top: 8px;
        font-size: 0;
        transition: font-size 0.25s;
        white-space: nowrap;

        &>a {
          color: var(--title-color);
        }
      }
    }

    &>li.menu-item {
      height: 3em;
      display: flex;
      align-items: center;
      font-size: 1.25em;
      width: var(--sidebar-width-collapsed);
      transition: width 0.25s;

      // Menu item links
      &>a {
        color: var(--primary-color);
        font-weight: var(--medium-weight);
      }

      // Menu item icons
      &>a:before {
        content: '';
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        height: var(--icon-normal-size);
        width: var(--sidebar-width-collapsed);
        transition: width 0.25s;
        vertical-align: middle;
        margin-right: 0.5em;
      }
    }

    &>li.themes a:before {
      background-image: url('../../img/icons/sidebar/book.svg')
    }

    &>li.essays a:before {
      background-image: url('../../img/icons/sidebar/edit.svg')
    }

    &>li.reviewable a:before {
      background-image: url('../../img/icons/sidebar/edit.svg')
    }

    &>li.reviews a:before {
      background-image: url('../../img/icons/sidebar/check.svg')
    }

    // Current page
    &>li.active {
      border-right: 4px solid var(--primary-color);
    }

    &>li.menu-item:hover {
      background-color: var(--background-sidebar);
    }
  }
}

// Hovering effect (open / collapse)
body {

  // Collapsed
  main {
    margin-left: var(--sidebar-width-collapsed);
    transition: margin-left 0.25s;
  }

  header#main-header div.logo {
    width: var(--sidebar-width-collapsed);
    transition: width 0.25s;
  }

  header#main-header div.logo img {
    clip-path: inset(0 90px 0 0);
    margin-left: calc(var(--size-16px) + 2px);
    transition: margin 0.25s;
  }

  nav#sidebar {
    transition: width 0.25s;
    width: var(--sidebar-width-collapsed);
    justify-content: flex-start;

    &>ul.menu {
      li.menu-item a {
        font-size: 0;
        transition: font-size 0.25s;
        white-space: nowrap;
      }
    }
  }
}

body.open-sidebar {

  // Open
  main {
    margin-left: var(--sidebar-width);
  }

  header#main-header div.logo {
    width: var(--sidebar-width);
  }

  header#main-header div.logo img {
    clip-path: unset;
    margin-left: var(--size-56px);
  }

  nav#sidebar {
    width: var(--sidebar-width);

    &>ul.menu {

      //Avatar image
      &>li.user {
        width: 100%;

        &>span.username {
          font-size: var(--text-big);
        }

        &>div.user-avatar {
          height: 100px;
          width: 100px;

          &>img {
            width: 100%;
          }
        }
      }

      &>li.menu-item {
        width: var(--sidebar-width);

        &>a {
          font-size: unset;
        }
      }
    }
  }

  section.themes {
    &> header, &>section.available-themes ul {
      width: calc(100vw - var(--sidebar-width - 42px));
    }
  }
}
