@import '../global.less';

body {
  background: @primary-color;
  background-image: url("../../img/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto 80vh;
  background-position: right center;
  display: grid;
  grid-template-columns: 1fr 1fr;

  main {
    margin-left: 0;
    margin-top: 0;
  }
}

section#login-form {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  header {
    text-align: center;
    margin-bottom: @size-32px;
    width: @login-form-width;

    .logo img {
      width: @logo-big-size;
    }
  }

  section {
    background: @background-login-form;
    border-radius: 10px;
    padding: @size-56px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
    height: @login-form-height;
    width: @login-form-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      display: none
    }

    p.welcome-text {
      font-size: 1.25em;
      width: 175px;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 220px;

      button[type="submit"] {
        width: 100%;
      }

      p.forgot-password {
        text-align: right;
      }

      .form-field {
        margin: 0;

        .label {
          margin-bottom: 4px;
        }

        input {
          border: 1px solid @primary-color;
          border-radius: 4px;
          padding: 8px;
        }
      }
    }
    .create-account {
      text-align: center;
      font-size: 14px;
      strong {
        color: #dbe7f8;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    grid-template-columns: 1fr;
  }
}
