@import '../global.less';

body {
  position: relative;

  main {
    margin-left: 0;
    margin-top: 0;
  }
}

body::before {
  content: "";
  position: absolute;
  background-image: url('../../img/home-assets/redativo-bg-welcome.png');
  background-repeat: no-repeat;
  background-size: auto 80vh;
  background-position: left center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: scaleX(-1);
}
section#login-form {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  header {
    text-align: center;
    margin-bottom: @size-32px;
    width: @login-form-width;

    .logo img {
      width: @logo-big-size;
    }
  }

  section {
    background: @background-login-form;
    border-radius: 10px;
    padding: @size-56px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
    height: @login-form-height;
    width: @login-form-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      display: none
    }

    p.welcome-text {
      font-size: @text-big;
      font-weight: @semibold-weight;
      line-height: 32px;
      width: 184px;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      button[type="submit"] {
        margin-top: @size-24px;
        width: 100%;
      }

      p.forgot-password {
        text-align: right;
      }

      .form-field {
        margin: 0;

        .label {
          margin-bottom: 4px;
        }

        input {
          border: none;
          margin-bottom: @size-16px;
          padding: @size-16px;
        }
      }
    }
    .create-account {
      text-align: center;
      font-size: @text-small;
      strong {
        color: @white;
        font-size: @text;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    grid-template-columns: 1fr;
  }
}
