@import '../global.less';

body {
  background: @primary-color;
  background-image: url("../../img/signup-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto 80vh;
  background-position: right center;
  display: grid;
  grid-template-columns: 1fr 1fr;

  main {
    margin-left: 0;
    margin-top: 0;
  }
}

section#signup-form {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  header {
    text-align: center;
    margin-bottom: @size-32px;
    width: @login-form-width;

    .logo img {
      width: @logo-big-size;
    }
  }
}

