@import '../global.less';

body {
  background: @primary-color;
  background-image: url("../../img/signup-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto 80vh;
  background-position: right center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
