@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@primary-color: #EA8441;
@nav-color: #F4C29F;
@text: #374551;
@gray-text: #909DA8;
@gray-border: #C5CED6;
@red: #D5455B;
@white: #fff;
@background: #DFE6ED;
@width: 70vw;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: @background;
  font-family: 'Roboto', sans-serif;
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  
  button {
    cursor: pointer;
  }
  
  .container {
    width: @width;
    margin: 0 auto;
    padding-top: 16px;
  }
}

.primary, .secondary {
  padding: 8px 16px;
  border: 2px solid @primary-color;
  border-radius: 4px;
  font-weight: 600;
}

.primary {
  background-color: @primary-color;
  color: @white;
  
  i {
    margin-right: 8px;
  }
}

.secondary {
  background-color: @white;
  color: @primary-color;
  border-color: rgba(234, 132, 65, 0.5);
  
  i {
    margin-right: 8px;
  }
}

.only-icon {
  color: @red;
  border-color: rgba(213, 69, 91, 0.5);
  border-radius: 4px;
  padding: 8px 16px;
}
