@import 'global.less';

header {
  background-color: @nav-color;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  
  .nav {
    align-items: center;
  }
  
  .start-nav {
    display: flex;
    justify-content: space-between;
    
    .container-logo {
      margin-left: 8px;
      .logo {
        margin-right: 8px;
      }
    }
  }
}

.theme-nav {
  margin-left: 64px;
  
  .theme, .reward {
    color: @text;
    border-bottom: 4px solid @nav-color;
    padding: 11px 0;
    margin-right: 8px;
    transition: 400ms;

    i {
      margin-right: 4px;
    }
  }

  .reward:hover, .theme:hover {
    color: @primary-color;
    border-bottom: 4px solid @primary-color;
    transition: 400ms;
  }
}

.container-avatar {
  cursor: pointer;
  
  .avatar {
    margin-left: 8px;

    i {
      color: @gray-text;
      transition: 400ms;
    }
  }

  .user {
    transition: 400ms;
  }
}

.container-logo, .container-avatar {
  display: flex;
  align-items: center;
}

.logo {
  background-color: @background;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
