// imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500&display=swap');

// colors
@primary-color: #FFA369;
@secondary-color: #1B343F;
@light: #FFF8F2;

@text: #374551;
@gray-text: #909DA8;
@gray-border: #C5CED6;
@red: #D5455B;
@white: #fff;
@width: 70vw;

// fonts
@primary-font: 'Inder', sans-serif;
@secondary-font: 'Hahmlet', serif;

// sizes

/* Breakpoints */
