{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet/less" type="text/css" href="{% static 'style/pages/404.less' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
  <title>Não Encontrado!</title>
</head>
<body>
  <main class="main-404">
    <h1 class="error-name">404</h1>
    <p class="error-feedbacks">Opa, parece que esta página não existe.</p>
    <a class="return-link" href="{% url 'home' %}">
      {% include 'components/button.html' with class='primary-button' label='Voltar para Home' type='button' %}
    </a>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/less" ></script>
</body>
</html>
