{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet/less" type="text/css" href="{% static 'style/global.less' %}">
    <title>{% block title %}{% endblock title %}</title>
  {% endblock head %}
  </head>
  <body>
    {% block header %}
    {% include 'components/header.html' %}
    {% endblock header %}

    {% block sidebar %}
      {% include 'components/sidebar-nav.html' %}
    {% endblock sidebar %}

    {% block messages %}
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endblock messages %}

    <main>
    {% block content %}
    {% endblock content %}
    </main>

    {% block footer %}
    <footer>
      <a href="{% url 'about' %}" target="_blank" rel="noopener">Sobre</a>
      <a href="{% url 'tos' %}" target="_blank" rel="noopener">Termos de Serviço</a>
    </footer>
    {% endblock footer %}

    {% block scripts %}
      <script src="//cdn.jsdelivr.net/npm/less@4.1.1" ></script>
    {% endblock scripts %}
</body>
</html>
