{% load static %}
{% block head %}
  <link rel="stylesheet/less" type="text/css" href="{% static 'style/components/header.less' %}">
{% endblock head %}
<header id="main-header" class="principal-header">
  {% include "components/logo.html" %}

  <span></span>

  <form class="search">
    <button type="submit">
      <img class="icon" src="{% static 'img/icons/search.svg' %}" alt="figura de uma lupa indicando onde fazer pesquisa de temas"/>
    </button>
    <input type="text" placeholder="Encontre um tema">
  </form>

  <section class="notifications">
    <img class="icon" src="{% static 'img/icons/bell.svg' %}" alt="figura de um sino sinalizando notificações"/>
    <img class="icon" src="{% static 'img/icons/message.svg' %}" alt="figura de balão de text indicando mensagens"/>
  </section>

  <section class="logout">
    <a href="logout/"><img class="icon" src="{% static 'img/icons/logout.svg' %}" alt=""/></a>
  </section>
</header>
