<header class="nav">
  <div class="start-nav nav">
    <div class="container-logo">
      <a href="{% url 'home' %}"><div class="logo"></div></a>
      <a href="{% url 'home' %}"><p>Redativo</p></a>
    </div>

    <div class="theme-nav">
      <a class="theme" href="{% url 'themes' %}"><i class="far fa-lightbulb"></i>Temas</a>
      <a class="reward" href="{% url 'themes' %}"><i class="fas fa-medal"></i>Premiações</a>
    </div>
  </div>
  <div class="container-avatar">
    <p href="{% url 'themes' %}">Usuário</p>
    <div class="avatar"></div>
  </div>
</header>
