{% load static %}
{% block head %}
  <link rel="stylesheet/less" type="text/css" href="{% static 'style/components/sidebar-nav.less' %}">
{% endblock head %}
<nav id="sidebar">
  <ul class="menu">
    <li class="menu-item themes"><a href="">Temas</a></li>
    <li class="menu-item essays"><a href="">Redações</a></li>
    <li class="menu-item rewards"><a href="">Premiações</a></li>
    <li class="menu-item reviews"><a href="">Correções</a></li>
    <li class="menu-item settings"><a href="">Configurações</a></li>
  </ul>
</nav>
