{% load static %}
{% block head %}
  <link rel="stylesheet/less" type="text/css" href="{% static 'style/components/sidebar-nav.less' %}">
{% endblock head %}
<section id="sidebar" class="sidebar-nav">
  <ul class="slide">
    <li><a href="#"><img src="{% static 'img/icons/sidebar/book.svg' %}" alt=""/><span>Temas</span></a></li>
    <li><a href="#"><img src="{% static 'img/icons/sidebar/edit.svg' %}" alt=""/><span>Redações</span></a></li>
    <li><a href="#"><img src="{% static 'img/icons/sidebar/award.svg' %}" alt=""/><span>Premiações</span></a></li>
    <li><a href="#"><img src="{% static 'img/icons/sidebar/pen.svg' %}" alt=""/><span>Correções</span></a></li>
  </ul>

  <img class="setting" src="{% static 'img/icons/settings.svg' %}" alt=""/>
</section>
