name: Deploy Reviewer

on:
  push:
    branches: [main]

jobs:
  deploy-heroku-reviewer:
    runs-on: ubuntu-latest
    env:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      HEROKU_APP: ${{ secrets.HEROKU_APP_NAME }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Heroku CLI
        run: curl https://cli-assets.heroku.com/install.sh | sh

      - name: Authenticate with Heroku Container Registry
        run: heroku container:login

      - name: Build production image
        run: docker build -f misc/docker/production.dockerfile -t registry.heroku.com/${{ secrets.HEROKU_APP_NAME }}/web --build-arg NEXT_PUBLIC_API_URL=${{ secrets.NEXT_PUBLIC_API_URL }} .

      - name: Push image to Heroku Container Registry
        run: docker push registry.heroku.com/${{ secrets.HEROKU_APP_NAME }}/web

      - name: Release image
        run: heroku container:release web --app ${{ secrets.HEROKU_APP_NAME }}
